.main-heading-bins{margin:0px auto;}
.front-bins{margin:20px auto;}
.front-bins, .main-heading-bins{
    text-align: center;

    .bin{
        display: inline-block;
        position:relative;
        width:120px;
        height:120px;
        
        &:after{
            background-size: auto 120px;
            background-repeat: no-repeat;
            background-position: center;
            @media only screen and(min-width:480px){
                 background-size: auto 170px;
            }
            
        }
        
        @media only screen and(min-width:480px){
        
            width:170px;
            height:170px;
            
        }
        
        margin:0px auto;
        perspective: 170px;

        .designs{
            position: absolute;
            overflow:hidden;
        }

        .design{
            position: absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            background-size:cover;
            background-position:center;
        }
    }

    .bin-large{
        top:21px;

        .designs{
            
            top: 16px;
            left: 8px;
            right: 7px;
            bottom: 19px;
            
            @media only screen and(min-width:480px){
                top: 23px;
                left: 14px;
                right: 11px;
                bottom: 29px;
            }

        }

        &:after{
            position:absolute;
            content:'';
            z-index:2;
            top:0;
            right:0;
            bottom:0;
            left:0;
            background-image:url('../statics/storspand-cutout.png');
        }


    }
    .bin-small{
        top:22px;


        .designs{
            
            top: 18px;
            left: 33px;
            right: 32px;
            bottom: 5px;
            
            @media only screen and(min-width:480px){
                
                top: 24px;
                left: 47px;
                right: 45px;
                bottom: 6px;
            
            }
        }

        &:after{
            position:absolute;
            content:'';
            z-index:2;
            top:0;
            right:0;
            bottom:0;
            left:0;
            background-image:url('../statics/lillespand-cutout.png');
        }
    }

}
