.blogroll{
    font-size: 0;
    padding:40px 10px;
    max-width:$page-width-max;
    margin:0px auto;
    overflow:auto;

    .preview{
        vertical-align: top;
    }

    figure img{
        display: block;
    }
}

.blogroll .preview .inner{
    @include font-size;
    background:white;
    display: block;
    position:relative;
    margin:10px 10px 40px;
    transition:box-shadow .2s, top .2s;
    box-shadow:1px 1px 5px rgba(0,0,0,.1);
    top:0px;

    &:hover{
        //top:-1px;
        box-shadow: $base-shadow;
    }

    .desc{
        padding:10px 10px 20px;

        &:before{
            content:'';
            display: block;
            height:60px;
            margin-bottom:10px;
            background:url('../statics/bucket-black.png') center no-repeat;
        }

        h3{
            font-size:150%;
            line-height: 1.2;
            text-align: center;
        }

        span{
            text-align: center;
            display: block;
            font-family: $contrast-font;
            font-size: 150%;
            margin:20px 0px;
        }
    }
}

@media only screen and(min-width:480px){

    .blogroll .preview.preview-medium,
    .blogroll .preview.preview-small{
        display: inline-block;
        width:50%;
        .desc{
            min-height: 230px;
        }
    }

}

@media only screen and(min-width:768px){

    .blogroll .preview.preview-medium{
        display: block;
        width:auto;
        font-size:0;


        figure{
            display: inline-block;
            width:49.5%;
            overflow:hidden;
            vertical-align: top;
        }

        .desc{
            @include font-size;
            position:absolute;
            right:0;
            top:50%;
            width:50%;
            transform:translate(0,-50%);
        }
    }

    .blogroll .preview.preview-small{
        width:33.3333%;

    }

}

.home .blog-next-prev-link{display:none;}
.blog-next-prev-link{
    font-size:0;
    width:60px;
    margin:auto;
    
    .inner{
        position: relative;
        padding:0px 10px;
        height:60px;
        vertical-align: top;
        display: inline-block;
        @include font-size;
        
        &:before{
            content:'';
            background:rgba(black,.2);
            position:absolute;
            top:0px;
            left:10px;
            z-index:0;
            height:60px;
            width:60px;
            border-radius:60px;
        }
        
        a{
            display: block;
            position:relative;
             z-index:1;
            background:$gelb;
            box-shadow: $base-shadow;
            color:white;
            height:60px;
            width:60px;
            border-radius:60px;
            line-height: 60px;
            text-align: center;
            font-size:150%;
            
            span{
                font-size: 170%;
                text-align: center;
                display: block;
                width: 60px;
                height: 60px;
                line-height: 67px;
            }
        
        }
    }
    
    &.loading{opacity: .5;}
}

a.read-more{
    display: block;
    padding:0px 10px;

    span{
        font-size: 20px;
        background:$green;
        color:white;
        box-shadow: $subtle-shadow;
        transition: box-shadow .2s;
        display: block;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
        
        &:hover{
            box-shadow: $base-shadow;
        }
    }
}