.blog-cat-list{

    margin:0px 10px 40px;
    
    
    li{
        
        a{
            display: block;
            margin:2px 0px;
            padding:0px 10px;
            height:50px;
            line-height:50px;

        }
    }
    
}