.bucket-finder{

    .inner{
        text-align: center;
        padding:40px 0px;
        @media only screen and(min-width:768px){
            padding:120px 20px;
        }

        @media only screen and(min-width:960px){
            padding:200px 20px;
        }

    }

    a{
        display: inline-block;

        &:hover {

            figure figcaption{
                box-shadow: $base-shadow;
            }

            img{
                transform: scale(.98);
            }
        }

    }

    figure{

        width:250px;
        position: relative;
        font-size: 120%;
        margin:20px 0px;

        img{
            width:auto;
            margin:auto;
            min-width: none;
            max-width:none;
            transform: scale(1);
            transition:transform 900ms;
        }

        figcaption{
            display: block;
            white-space: nowrap;
            padding:10px;
            background:white;
            position:absolute;
            top:60px;
            left:0px;
            transition: box-shadow .2s;
        }

    }

    .spand-stor figcaption{
        left:auto;
        right:-20px;
        top:100px;
    }
}
