.bucket-finder{

    .inner{
        text-align: center;
        padding:40px 0px;
        @media only screen and(min-width:768px){
            padding:120px 20px;
        }

        @media only screen and(min-width:960px){
            padding:150px 20px;
        }

    }

    a{
        display: inline-block;

        &:hover {

            figure figcaption{
                box-shadow: $base-shadow;
            }

            img{
                transform: scale(.98);
            }
        }

    }

    figure{

        width:230px;
        position: relative;
        font-size: 120%;
        margin:20px 0px;

        img{
            width:auto;
            max-width:100%;
            margin:auto;
            min-width: none;
            transform: scale(1);
            transition:transform 900ms;
        }

        figcaption{
            display: block;
            white-space: nowrap;
            padding:10px;
            background:white;
            position:absolute;
            top:120px;
            left:0px;
            transition: box-shadow .2s;
        }

    }

    .spand-lille{
        
        figcaption{
        left:40px;
        }
        
        @media only screen and(min-width:768px){
            
            text-align:left;
        
            figcaption{
                left:0px;
            }
        
        }
        
    }
    .spand-stor {
        
        figcaption{
            left:20px;
            top:70px;
        }
    }
    
    .skilt{
        
        figcaption{
            left:80px;
            top:110px;
        }
        
        @media only screen and(min-width:768px){text-align: right;}

    }
}
