header{
    position: relative;
    @extend .cardboard;
    box-shadow: $base-shadow;
    z-index:10;
}

header nav{
    //max-width: $page-width-max;
    margin:auto;
    //margin-right:100px;


    ul{
        font-size: 0;
    }

    li{

        width:25%;
        display: inline-block;
        vertical-align: top;
        border:solid white;
        border-width:0px 1px;

        &:first-child{
            border-width:0px 1px 0px 0px;
        }


        &:last-child{
            border-width:0px 0px 0px 1px;
        }


        &#menu-item-home a{
            font-size:0;
            background:url(../statics/logo-lille.png) no-repeat center 10px;
            background-size:165px;
        }
    }

    a, a:visited{
        font-size: 24px;
        color:white;
        display: block;
        line-height:80px;
        height:80px;
        text-align: center;
        text-transform: uppercase;
        background: transparent;
        transition:background .3s;

        &:hover{
            color:white;
        }
    }
}

header .menu-toggle{
    display: block;
    width:60px;
    height:60px;
    background-size:60px;
    position:absolute;
    bottom:10px;
    right:10px;

    svg{
        width:60px;
        height:60px;

    }
}
