$header-menu-height:70px;

header{
    position: relative;
    @extend .cardboard;
    z-index:10;
    min-height:60px;
    @media only screen and(min-width:768px){
        min-height:$header-menu-height;
    }

}



header nav {
    background-position:center 200px;
    height:60px;
    @media only screen and(min-width:768px){
        background-position:center $header-menu-height;
        height:$header-menu-height;
    }

    box-shadow: $base-shadow;
}


.home header nav.fixed{
    @extend .cardboard;
    position:fixed;
    top:0;
}

.home header nav{
    background:transparent;
    position:absolute;
    top:auto;
    bottom:0;
}

header nav{
    @extend .cardboard;
    position:fixed;
    transition:right .3s;
    top:0;
    right:0;
    width:100%;
}


@media only screen and(max-width:960px){

    a#home-btn{
        display: inline-block;
        width:140px;
        height:60px;
        background:url(../statics/logo-lille.png) no-repeat 20px 10px;
        background-size:120px;
        @media only screen and(min-width:768px){

            width:280px;
            height:$header-menu-height;
            background-size:150px;
        }

    }

    body{
        transition:margin-left .3s;
        overflow:visible;
    }

    body.menu-open{
        margin-left:-200px;
    }

    header nav>ul{
        background:$blue;
        position:fixed;
        height:100%;
        top:0;
        right:-200px;
        transition:right .3s;
        width:200px;
        text-align: left;
        font-size: 20px;
        z-index:21;
        color:white;
        text-shadow: $subtle-shadow;
        line-height:1.5;
        border-left:2px solid rgba(black,.1);
        overflow-y: scroll;

        
        a{
            display: block;
            padding:10px 20px;
            border-bottom: 2px solid rgba(black,.1);
        }
    }

    .menu-open header nav ul{
        right:0px;
        transition:right .3s;
    }

    .menu-open header nav{
        right:200px;
    }

    .home.menu-open header nav{
        right:0px;
    }

    .home.menu-open header nav.fixed{
        right:200px;
    }


}

@media only screen and(min-width:960px){

    header nav a#home-btn{
        display: none;
    }


    header nav{

        ul{
            font-size: 0;
            background:transparent;
        }

        >ul>li{

            &:before{
                position: absolute;
                content: '';
                width:100%;
                height:20px;
                bottom:-20px;
                left:0px;
                z-index:0;
            }

            width:25%;
            display: inline-block;
            position:relative;
            vertical-align: top;
            border:solid white;
            border-width:0px 1px;

            &:first-child{
                border-width:0px 1px 0px 0px;
            }


            &:last-child{
                border-width:0px 0px 0px 1px;
            }


            &.home>a{
                font-size:0;
                background:url(../statics/logo-lille.png) no-repeat center 10px;
                background-size:150px;
            }

            &:hover ul{
                height:auto;
                opacity:1;
                top:100%;
                box-shadow: $base-shadow;
            }

            ul{
                top:calc(100% + 10px);
                opacity:0;
                transition:opacity .2s, top .2s;
                transition-delay: .1s;
                height:0;
                overflow:hidden;
                position:absolute;
                width:auto;
                z-index:2;
                min-width:100%;
                background-image: url(../statics/cardboard.jpg);

                &:after{
                    content:'';
                    position:absolute;
                    top:0;
                    left:0;
                    right:0;
                    height:10px;
                    background:linear-gradient(to bottom, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 100%);
                }

                a{
                    border-bottom: 1px solid white;
                }

                li:last-child a{
                    border-bottom:none;
                }
                
                li:hover a{
                    background:rgba(black,.1);
                }

            }
        }

        a, a:visited{
            font-size: 18px;
            color:white;
            display: block;
            line-height:$header-menu-height;
            height:$header-menu-height;
            text-align: center;
            text-transform: uppercase;
            background: transparent;
            transition:background .3s;

            &:hover{
                color:white;
            }
        }
    }
}
header .menu-toggle, header .menu-basket{
    display: block;
    width:40px;
    height:40px;
    background-size:40px;
    position:absolute;
    bottom:10px;
    right:20px;
    
    svg{
        width:40px;
        height:40px;

    }

    @media only screen and(min-width:768px){
        width:50px;
        height:50px;
        background-size:60px;

        svg{
            width:50px;
            height:50px;

        }
    }

}

header .menu-basket{
    
    right:80px;
    background: white url(../statics/kurv-brun.png) no-repeat center -1px;
    background-size:28px;
    
    &.has-items{
        background: white url(../statics/kurv-brun.gif) no-repeat center -1px;
        background-size:28px;
    }
    
    @media only screen and(min-width:768px){
        right:90px;
        background: white url(../statics/kurv-brun.png) no-repeat center 0px;
        background-size:35px;

        &.has-items{
            background: white url(../statics/kurv-brun.gif) no-repeat center 0px;
            background-size:35px;
        }
    }
    
    border-radius:60px;

    
}

@media only screen and(min-width:960px){
    header .menu-toggle{
        display: none;
    }
    
    header .menu-basket{
        right:20px;
    }
}
