.front-banner{
    color:white;
    padding-bottom:80px;

    .inner{
        margin:0px auto;
        padding:100px 0px;
        font-size: 0;
        //max-width: $page-width-max;

        >div{
            @include font-size;
            display: inline-block;
            vertical-align: top;
            width:100%;
            @media only screen and(min-width:640px){
                width:50%;
            }
        }
    }

    .front-logo{
        text-indent:-999999px;
        margin:auto;
        width:228px;
        height:145px;
        background:url('../statics/logo-stor.png') 0px no-repeat;
    }

    .front-tag{
        font-family: $contrast-font;
        font-size:190%;
        width:228px;
        white-space: nowrap;
        margin:40px auto 0px;
        text-align: center;
        cursor:default;
    }

}

