.form-toggle{
    margin-top:30px;
    font-size:0;
    
    .toggle{
        position:relative;
        display: inline-block;
        width:50%;
        height:60px;
        line-height:60px;
        font-size:24px;
        font-family:$contrast-font;
        text-align: center;
        background:$blue;
        color:white;
        z-index:2;
        box-shadow: $subtle-shadow;
        transition:background .2s;
        
        
    
        
        &.active, &:hover{
            
            background:rgba($blue,.85);
            
        }
        
        
    }
    
}

.woocommerce .form-tabs{
    position: relative;

    .tab{
        padding:20px 0px;
        display: none;
        
        &.active{
            display: block;
        }
        
        &.quick-buy a{
            
            .name{
                color:black;
                margin:0px 10px;
                font-size:18px;
            }
            
            div{
                background:$green;
                color:white;
                padding:15px 10px;
            }
        }
        
    }

    input,textarea{
        border:1px solid rgba(0,0,0,.1);
        transition:border .2s;
    }
    
    label,input,textarea{
        display: block;
        width:100%;
        position: relative;
        outline:none;

        
        &:focus{
            border:1px solid $green;
        }
        
        &.error{
            border: 1px solid $red;
        }
    }
    
    textarea{
        resize: none;
        min-height:92px;
    }
    
    label{
        margin:15px 0px 5px;
        
        &:after{
            content:'*';
            color:#f99;
            margin-left:5px;
        }
    }
    
    .form-submit{
        margin:20px 0px;
        display: block;
        background:$green;
        color:white;
        padding:20px;
        text-align: center;
        border-radius: 6px;
        position: relative;
        
        &:after{
            content:'';
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background:transparent;
            transition:background .2s;
        }
        
        &:hover:after{
            background:rgba(white,.2);
        }
    }
    
    .form-container{
        position:relative;
        padding:20px;
        background:rgba(white,.6);
        
        
        &.loading:before{
            display: block;
            z-index:100000;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            content:'';
            background:rgba(white,.7) url('../statics/spand.gif') center no-repeat;
            background-size:20px;
        }
        
        &.complete{
            padding:0;
            background:transparent;
            
            div,a{
                display: none;
                
                &.woocommerce-message{
                    display: block;
                }
            }
            
        }
    
    }
}