///**///***///**///
//* Base Styles *//
///**///***///**///
html,body{

    font-family: $base-font;
    font-weight: 300;
    @include font-size;
    box-sizing:border-box;
    text-rendering: optimizeLegibility;
    backface-visibility: hidden;
    -webkit-text-size-adjust: 100%;
    width:100%;
    overflow-x: hidden;
    z-index:1;
    background: $body-bg;
}
body *{
    box-sizing:inherit;
    backface-visibility: inherit;

    ::selection {
        background: $cardboard-color;
    }
    ::-moz-selection {
        background: $cardboard-color;
    }
}



img{
    width:100%;
    max-width:100%;
    height:auto;
}

header,section,footer,main{
    display: block;
    clear: both;
    overflow: visible;
}

p{
    line-height:1.6;
    margin-bottom:10px;
}


aside{
    padding:10px;
    @include font-size;
}

.content main{
    padding:10px;
    @include font-size;
}

.content{
    position: relative;
    max-width: $page-width-max;
    margin:0px auto;
    padding:40px 10px;
}


@media only screen and(min-width:960px){

    .blogroll main,
    .content main{
        width:66.6666%;
        display: inline-block;
        vertical-align: top;
    }

    .content-right main{

        float:right;

    }

    .blogroll aside,
    .content aside{
        width:33.33333%;
        display: inline-block;
        vertical-align: top;
    }
}
