// Max sidebredde
$page-width-max: 1280px;


// Fonts
$base-font:'oswald', sans-serif;
$contrast-font: 'Covered By Your Grace', cursive;


// Base colors
$body-bg: #e8e8e8;
$cardboard-color:#cc9d7f;
$gelb:#eca946;
$blue:#73a1cf;

// Base shadows
$base-shadow: 1px 5px 10px 0px rgba(black,.3);


// subtle shadow
$subtle-shadow: 1px 1px 0px rgba(black,.3);
