
// Knap
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button{

    background-color:$blue;
    color:white;

    &:hover{
        background-color:$blue;
        color:white;
    }

}

// Alt knap
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt{

    background-color:$blue;

    &:hover{
        background-color:$blue;
    }

}

.woocommerce{

    .payment_methods img{width:auto;}

    #payment{
        background:#f0f0f0;
    }


    input,textarea{
        line-height: 1.2;
        padding:5px;
        @include font-size;
    }
}
